# Binaries
*.exe
*.o
*.obj
*.lib
*.a
*.out
proper_method/raid
akadimaiki_method/raid_simple

# Debug symbols
*.pdb
*.idb

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# User Exclusions
lambros/
*.pdf
*.rar
RAID*.txt
akadimaiki_method/RAID*.txt
input_and_update_files.rar
input.txt
update.txt
backup.txt
allData.txt
